<section class="main-content">
    <mat-sidenav-container>
        <mat-sidenav mode="side" opened position="end">
            <!-- TODO: Leader board -->
            RIGHT SIDEBAR
        </mat-sidenav>
        <mat-sidenav-content>
            <!-- TODO: Discussion boards-->
            <nav mat-tab-nav-bar [tabPanel]="tabPanel">
                @for(tab of tabs; track tab; let idx = $index) {
                    <a mat-tab-link (click)="onTabChanged(idx)" [active]="selectedTabIndex === idx">
                        {{ tab.label }}
                    </a>
                }
            </nav>
            <mat-tab-nav-panel #tabPanel>
                <ng-container *ngComponentOutlet="selectedTab"></ng-container>
            </mat-tab-nav-panel>
        </mat-sidenav-content>
    </mat-sidenav-container>
</section>

